<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <!-- script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script-->
      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
      <script src="libs/jquery-3.2.0.min.js"></script>

      <!-- My Styling -->
      <link rel="stylesheet" href="css/style.css" type='text/css'>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Mark3D - Annotate your 3D Models</title>
  </head>
  <body>
      <nav id='blackbar' class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a id='home' href="/">Home</a></li>
            <li><a id='app' href="/app">App</a></li>
            <li><a id='blend' href="/blend">Blend4Web Viewer</a></li>
            <li><a id='appVR' href="/appVR">VRApp</a></li>
            <li><a id='wVR' href="/wholesiteVR">VREnvironment</a></li>
            <li><a id='demos' href="/demos">Demos</a></li>
            <li><a id='about' href="/about">About </a></li>
            <li><a id='contact' href="/contact">Contact</a></li>
          </ul>
        </div>
      </nav>

      {{{body}}}

    <footer>

    </footer>
  </body>
</html>
