<div class="content container-fluid">
  <div class="row">
    <div id='viewerd-iv' class="col-xs-8">
    <p>Mark3D is a new way for Cultural Heritage Experts to Display and Label 3D Models</p>
      <br/>
      <p>
        As part of its mission to preserve the past and safeguard access to it today
        and long into the future, the Yale Institute for the Preservation of Cultural
        Heritage (YPCH) is partnering with ICOMOS (International Council on Monuments
        and Sites) and CyArk (A prototype project to test the concept of a digital
        archive of 3D survey information of endangered world heritage sites) in the
        Project Anqa initiative.
      </p>
      <p>
        Project Anqa is an emergency program for recording high risk physical cultural
        heritage, such as historic buildings and artifacts in the Middle East and North
        Africa regions. Named after the Arabic word for phoenix, Project Anqa deploys
        teams of international professionals and pairs them with local experts to
        digitally document at-risk sites into 3D models before they are destroyed
        or altered.

        Project Anqa aims to make the resulting data available online through the web
        for both scholars and the general public to benefit from this highly 3D detailed
        models.
      </p>
      <p>
       This senior project aims to build an interactive platform through which users can best engage and learn from 3D Cultural Heritage models delivered by Project Anqa via web. For this purpose, various WebGL frameworks such as threeJS, blend4web and A-frame as well as emerging technologies such as VR and the upcoming WebVR standard were tested and applied to create a prototype of the final product. Additionally, a description of the user stories for the 3D Model Interaction Platform, explaining the end user experience and the user’s interaction with the contents of the website is provided. </p>

      <br/>
    </div>
  </div>
</div>
