<link type="text/css" rel="stylesheet" href="css/style2D.css">

<input id="obj-path" style="display:none" type="file" />
<input id="JSON-path" style="display:none" type="file" />
<input id="mtl-path" style="display:none"  type="file" />
<div class="content container-fluid">
    <div class="row">
      <div id='viewer-div' class="col-xs-8">
        <div id="WebGL-output">
        </div>
      </div>
      <div id='controls-div' class="col-xs-4">
        <!-- Stats Display -->

      </div>
      <div id="Stats-output">

      </div>
    </div>
  </div>
</div>

<a id="downloadAnchorElem" style="display:none"></a>

<script type="text/javascript" src="libs/three.min.js" ></script>
<script type="text/javascript" src="libs/stats.min.js"></script>
<script type="text/javascript" src="libs/dat.gui.min.js"></script>
<link type="text/css" rel="stylesheet" href="css/dat.guiAlt.css">

<script type="text/javascript" src="libs/json_parse_state.js"></script>
<script type="text/javascript" src="libs/json_parse.js"></script>
<script type="text/javascript" src="libs/cycle.js"></script>
<script type="text/javascript" src="libs/DecalGeometry.js"></script>
<script type="text/javascript" src="libs/OrbitControls.js"></script>
<script type="text/javascript" src="libs/DragControls.js"></script>
<script type="text/javascript" src="libs/OBJLoader.js"></script>
<script type="text/javascript" src="libs/ColladaLoader.js"></script>
<script type="text/javascript" src="libs/OBJExporter.js"></script>
<script type="text/javascript" src="libs/FileSaver.js"></script>

<script type="text/javascript" src="js/myFuns.js"></script>
<script type="text/javascript" src="js/mark3d.js"></script>
