<link type="text/css" rel="stylesheet" href="css/style2D.css">

<script src="libs/b4w.min.js"></script>
<script>

var m_app = b4w.require("app");
var m_data = b4w.require("data");

m_app.init({
    canvas_container_id: "container_id",
    callback: load_cb
})

function load_cb() {
    m_data.load("models/JSON/example1.json", loaded_cb);
}

function loaded_cb() {
    m_app.enable_camera_controls();
}

</script>

<div class="content container-fluid">
  <div class="row">
    <div id='viewer-div' class="col-xs-8">
      <div class="content" id="container_id" ></div>
    </div>
    <div id='viewer-div' class="col-xs-8">
      <p><h1>Bimaristan Nur al-Din Roof Detail with annotations. </h1></p>
    </div>
  </div>
</div>
