<script type="text/javascript" src="libs/aframe-v0.5.0.min.js"></script>

<a-scene>
  <a-assets>
    <img id="boxTexture" src="textures/boxtex.jpg">
    <img id="skyTexture"
      src="textures/sechelt.jpg">
    <img id="groundTexture" src="textures/floor.jpg">
    <audio src="audio/westworld.mp3" autoplay
preload></audio>
    <a-asset-item id="m-obj" src="models/table-obj/table.obj"></a-asset-item>
    <a-asset-item id="m-mtl" src="models/table-obj/table.mtl"></a-asset-item>
    <a-asset-item id="man-mtl" src="models/standard-male-figure-obj/standard-male-figure.mtl"></a-asset-item>
    <a-asset-item id="man-obj" src="models/standard-male-figure-obj/standard-male-figure.obj"></a-asset-item>
    <a-asset-item id="dragon-mtl" src="models/dragon-obj/dragon.mtl"></a-asset-item>
    <a-asset-item id="dragon-obj" src="models/dragon-obj/dragon.obj"></a-asset-item>

  </a-assets>

  <a-box src="#boxTexture" position="0 2 5" rotation="0 45 45" scale="3 3 3" visible="" material="" geometry="">
    <a-animation attribute="scale" begin="mouseenter" dur="300" to="2.3 2.3 2.3"></a-animation>
    <a-animation attribute="scale" begin="mouseleave" dur="300" to="2 2 2"></a-animation>
    <a-animation attribute="rotation" begin="click" dur="2000" to="360 405 45"></a-animation>
  </a-box>

  <a-sky src="#skyTexture"></a-sky>
  <a-plane src="#groundTexture" rotation="-90 0 0" width="100" height="100" repeat="1 1"></a-plane>
  <a-light type="ambient" color="#445451"></a-light>
  <a-light type="point" intensity="2" position="2 4 4"></a-light>


  <a-entity
    position="0 30 -40" text="width: 100; lineHeight: 50; letterSpacing: 5; color: white; value: Hello Aframe - A Demo for CPSC 490 Project .....Look around and  click on the cube for sample interaction" rotation="" scale="" visible="">
  </a-entity>

  <a-entity
    position="13.12 0 -38.24" scale="0.25 0.25 0.25" obj-model="obj:#man-obj;mtl:#man-mtl" rotation="0 -90 0" visible="true" material="">
  </a-entity>
  <a-entity
    position="-26.3 -2 -40.45" scale="4 4 4" rotation="0 90 0" obj-model="obj:#dragon-obj;mtl:#dragon-mtl" visible="true" material="">
  </a-entity>

  <a-camera>
    <a-cursor></a-cursor>
  </a-camera>

</a-scene>
