<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<link type="text/css" rel="stylesheet" href="css/styleVR.css">
<div id="ui">
  <div id="vr-button"></div>
  <a id="magic-window" href="#">Try it without a headset</a>
  <p class='instr'> Bimaristan Nur al-Din (Full Resolution Model) Takes a few seconds to load. </p>


</div>


<script>
/*
 * Debug parameters.
 */
WebVRConfig = {
  /**
   * webvr-polyfill configuration
   */

  // Forces availability of VR mode.
  //FORCE_ENABLE_VR: true, // Default: false.
  // Complementary filter coefficient. 0 for accelerometer, 1 for gyro.
  //K_FILTER: 0.98, // Default: 0.98.
  // How far into the future to predict during fast motion.
  //PREDICTION_TIME_S: 0.040, // Default: 0.040 (in seconds).
  // Flag to disable touch panner. In case you have your own touch controls
  //TOUCH_PANNER_DISABLED: true, // Default: false.
  // Enable yaw panning only, disabling roll and pitch. This can be useful for
  // panoramas with nothing interesting above or below.
  //YAW_ONLY: true, // Default: false.
  // Enable the deprecated version of the API (navigator.getVRDevices).
  //ENABLE_DEPRECATED_API: true, // Default: false.
  // Scales the recommended buffer size reported by WebVR, which can improve
  // performance. Making this very small can lower the effective resolution of
  // your scene.
  BUFFER_SCALE: 0.5, // default: 1.0
  // Allow VRDisplay.submitFrame to change gl bindings, which is more
  // efficient if the application code will re-bind it's resources on the
  // next frame anyway.
  // Dirty bindings include: gl.FRAMEBUFFER_BINDING, gl.CURRENT_PROGRAM,
  // gl.ARRAY_BUFFER_BINDING, gl.ELEMENT_ARRAY_BUFFER_BINDING,
  // and gl.TEXTURE_BINDING_2D for texture unit 0
  // Warning: enabling this might lead to rendering issues.
  //DIRTY_SUBMIT_FRAME_BINDINGS: true // default: false
};
</script>


<!--
  A polyfill for Promises. Needed for IE and Edge.
-->
<script src="node_modules/es6-promise/dist/es6-promise.min.js"></script>

<!--
  three.js 3d library
-->
<script src="node_modules/three/build/three.min.js"></script>
<script type="text/javascript" src="libs/reticulum.js"></script>

<!--
  OBJLoader for ThreeJS
-->
<script type="text/javascript" src="libs/OBJLoader.js"></script>

<!--
  VRControls.js acquires positional information from connected VR devices and applies the transformations to a three.js camera object.
-->
<script src="node_modules/three/examples/js/controls/VRControls.js"></script>

<!--
  VREffect.js handles stereo camera setup and rendering.
-->
<script src="node_modules/three/examples/js/effects/VREffect.js"></script>

<!--
  A polyfill for WebVR using the Device{Motion,Orientation}Event API.
-->
<script src="node_modules/webvr-polyfill/build/webvr-polyfill.min.js"></script>

<!--
  A set of UI controls for entering VR mode.
-->
<script src="node_modules/webvr-ui/build/webvr-ui.min.js"></script>



<script>



// Last time the scene was rendered.
var lastRenderTime = 0;
// Currently active VRDisplay.
var vrDisplay;
// How big of a box to render.
var boxSize = 10;
// Various global THREE.Objects.
var scene;
var cube;
var controls;
var effect;
var camera;
var loadedobj
// EnterVRButton for rendering enter/exit UI.
var vrButton;


function onLoad() {
  // Setup three.js WebGL renderer. Note: Antialiasing is a big performance hit.
  // Only enable it if you actually need to.
  var renderer = new THREE.WebGLRenderer({antialias: true});
  renderer.setPixelRatio(window.devicePixelRatio);

  // Append the canvas element created by the renderer to document body element.
  document.body.appendChild(renderer.domElement);

  // Create a three.js scene.
  scene = new THREE.Scene();

  // Create a three.js camera.
  var aspect = window.innerWidth / window.innerHeight;
  camera = new THREE.PerspectiveCamera(75, aspect, 0.1, 10000);

    Reticulum.init(camera, {
    proximity: false,
    clickevents: true,
    reticle: {
      visible: true,
      restPoint: 5, //Defines the reticle's resting point when no object has been targeted
      color: 0xcc00cc,
      innerRadius: 0.0001,
      outerRadius: 0.003,
      hover: {
        color: 0x00cccc,
        innerRadius: 0.02,
        outerRadius: 0.024,
        speed: 5,
        vibrate: 50 //Set to 0 or [] to disable
      }
    },
    fuse: {
      visible: false,
      duration: 2.5,
      color: 0x00fff6,
      innerRadius: 0.045,
      outerRadius: 0.06,
      vibrate: 0, //Set to 0 or [] to disable
      clickCancelFuse: false //If users clicks on targeted object fuse is canceled
    }
  });


  scene.add(camera)

  scene.add( new THREE.AmbientLight( 0x505050 ) )
  var spotLight = new THREE.SpotLight(0xffffff);
  spotLight.position.set(-40, 60, -10);
  spotLight.castShadow = true;
  spotLight.shadow.mapSize.height = 2048;
  spotLight.shadow.mapSize.width = 2048;
  scene.add(spotLight);

  controls = new THREE.VRControls(camera);
  controls.standing = true;
  camera.position.y = controls.userHeight;

  // Apply VR stereo rendering to renderer.
  effect = new THREE.VREffect(renderer);
  effect.setSize(window.innerWidth, window.innerHeight);

  // Create 3D objects.
  objLoader = new THREE.OBJLoader();

  objLoader.load(
      'models/massivedoor.obj',
      function(obj) {
          //add the loaded object to the scene
          obj.position.set(0, controls.userHeight -0.75, -1);
          obj.scale.set(0.1,0.1,0.1);

          // CREATE THE INITIAL COLORS
          obj.material = new THREE.MeshNormalMaterial();
          scene.add(obj)
          cube = obj;
          Reticulum.add( cube.children[0], {
	clickCancelFuse: true, // Overrides global setting for fuse's clickCancelFuse
	reticleHoverColor: 0x00fff6, // Overrides global reticle hover color
	fuseVisible: true, // Overrides global fuse visibility
	fuseDuration: 1.5, // Overrides global fuse duration
	fuseColor: 0xcc0000, // Overrides global fuse color
	onGazeOver: function(){
		// do something when user targets object
		this.material.emissive.setHex( 0xffcc00 );
	},
	onGazeOut: function(){
		// do something when user moves reticle off targeted object
		this.material.emissive.setHex( 0xcc0000 );
	},
	onGazeLong: function(){
		// do something user targetes object for specific time
		this.material.emissive.setHex( 0x0000cc );
	},
	onGazeClick: function(){
		// have the object react when user clicks / taps on targeted object
		this.material.emissive.setHex( 0x0000cc );
	}
});
          console.log(obj);
          console.log('--- LOADED MASSIVE DOOR ---');

          // Add a repeating grid as a skybox.
          var loader = new THREE.TextureLoader();
          loader.load('img/box.png', onTextureLoaded);
      },

      // Function called when download progresses
      function ( xhr ) {
        console.log( (xhr.loaded / xhr.total * 100) + '% loaded' );
      },

      // Function called when download errors
      function ( xhr ) {
        console.error( 'An error happened while loading an .OBJ Model from: ' + path  );
      }
  );

  window.addEventListener('resize', onResize, true);
  window.addEventListener('vrdisplaypresentchange', onResize, true);

  // Initialize the WebVR UI.
  var uiOptions = {
    color: 'black',
    background: 'white',
    corners: 'square'
  };
  vrButton = new webvrui.EnterVRButton(renderer.domElement, uiOptions);
  vrButton.on('enter', function() {
		document.getElementById('blackbar').style.display = 'none';


  });

  vrButton.on('exit', function() {
    camera.quaternion.set(0, 0, 0, 1);
    camera.position.set(0, controls.userHeight, 0);
    document.getElementById('blackbar').style.display = 'inherit';
    document.getElementById('controls-div-div2').style.display = 'inherit';

  });
  vrButton.on('hide', function() {
    document.getElementById('ui').style.display = 'none';
  });
  vrButton.on('show', function() {
    document.getElementById('ui').style.display = 'inherit';
  });
  document.getElementById('vr-button').appendChild(vrButton.domElement);
  document.getElementById('magic-window').addEventListener('click', function() {
    vrButton.requestEnterFullscreen();
  });
}

function onTextureLoaded(texture) {
  texture.wrapS = THREE.RepeatWrapping;
  texture.wrapT = THREE.RepeatWrapping;
  texture.repeat.set(boxSize, boxSize);

  var geometry = new THREE.BoxGeometry(boxSize, boxSize, boxSize);
  var material = new THREE.MeshBasicMaterial({
    map: texture,
    color: 0x01BE00,
    side: THREE.BackSide
  });

  // Align the skybox to the floor (which is at y=0).
  skybox = new THREE.Mesh(geometry, material);
  skybox.position.y = boxSize/2;
  scene.add(skybox);

  // For high end VR devices like Vive and Oculus, take into account the stage
  // parameters provided.
  setupStage();
}



// Request animation frame loop function
function animate(timestamp) {
  var delta = Math.min(timestamp - lastRenderTime, 500);
  lastRenderTime = timestamp;

  // Apply rotation to cube mesh
  cube.rotation.y += delta * 0.0006;

  // Only update controls if we're presenting.
  if (vrButton.isPresenting()) {
    controls.update();
  }
  // Render the scene.
  Reticulum.update();
  effect.render(scene, camera);

  vrDisplay.requestAnimationFrame(animate);
}

function onResize(e) {
  effect.setSize(window.innerWidth, window.innerHeight);
  camera.aspect = window.innerWidth / window.innerHeight;
  camera.updateProjectionMatrix();
}

// Get the HMD, and if we're dealing with something that specifies
// stageParameters, rearrange the scene.
function setupStage() {
  navigator.getVRDisplays().then(function(displays) {
    if (displays.length > 0) {
      vrDisplay = displays[0];
      if (vrDisplay.stageParameters) {
        setStageDimensions(vrDisplay.stageParameters);
      }
      vrDisplay.requestAnimationFrame(animate);
    }
  });
}

function setStageDimensions(stage) {
  // Make the skybox fit the stage.
  var material = skybox.material;
  scene.remove(skybox);

  // Size the skybox according to the size of the actual stage.
  var geometry = new THREE.BoxGeometry(stage.sizeX, boxSize, stage.sizeZ);
  skybox = new THREE.Mesh(geometry, material);

  // Place it on the floor.
  skybox.position.y = boxSize/2;
  scene.add(skybox);

  // Place the cube in the middle of the scene, at user height.
  cube.position.set(0, controls.userHeight, 0);
}

window.addEventListener('load', onLoad);

</script>
