<script type="text/javascript" src="libs/aframe-v0.5.0.min.js"></script>


      <a-scene>
        <a-assets>
          <img id="skyTexture"
               src="textures/twilight.png">
          <img id="woodFloor"
               src="textures/woodfloor.jpg">

          <a-asset-item id="kore" src="models/kore.obj"></a-asset-item>
          <a-asset-item id="acropolis" src="models/acropolis.obj"></a-asset-item>
          <a-asset-item id="sa-mtl" src="models/sa.mtl"></a-asset-item>
          <a-asset-item id="sa-obj" src="models/sa.obj"></a-asset-item>
        </a-assets>

        <a-entity position="19.38 1.6 42.68">
          <a-camera>
            <a-cursor></a-cursor>
          </a-camera>
        </a-entity>


        <a-plane material="src:#woodFloor;repeat:10 10" position="6.22 0.18 42.98" rotation="-90 0 0" width="350" height="250" ></a-plane>
        <a-sky src="#skyTexture"></a-sky>

        <a-entity position="-38.64 8 -0.59" scale="0.1 0.1 0.1" rotation="0 0 0" obj-model="obj:#acropolis" visible="true" ></a-entity>
        <a-entity position="0 0 42.47" scale="0.003 0.003 0.003" rotation="0 89.95437383553924 0" obj-model="obj:#kore" visible="true" material=""></a-entity>
        <a-entity position="21.83 0.79 39.74" scale="1 1 1" rotation="0 0 0" obj-model="obj:#sa-obj;mtl:#sa-mtl" ;="" visible="true" material=""></a-entity>


      </a-scene>
