
<div class="content container-fluid">
    <div class="row">
      <div class="buttonsdiv">
        <p>

          <ol>
           <li> <a class="btn btn-primary btn-lg"  href="/demo1" role="button"> Demo 1 </a> </li>
           <br>
           <br>
          <li> <a class="btn btn-primary btn-lg"  href="/demo2" role="button"> Demo 2 </a></li>
           <br>
           <br>
          <li> <a class="btn btn-primary btn-lg"  href="/demo3" role="button"> Demo 3 </a></li>
           <br>
           <br>
          <li> <a class="btn btn-primary btn-lg"  href="/demo4" role="button"> Demo 4 </a></li>
           <br>
           <br>
          <li> <a class="btn btn-primary btn-lg"  href="/demo5" role="button"> Demo 5 </a></li>
         </ol>



       </p>
      </div>
    </div>
  </div>
</div>
