
<div class="jumbotron content "  style="padding:40px;">
   <h1>Building an Interactive Platform for 3D Cultural Heritge Models</h1>
   <p>CPSC 490 Project: Raul Monraz</p>

</div>
<div class="buttonsdiv">
  <p><a class="btn btn-primary btn-lg" href="/demos" role="button">Learning Demos</a><br>
  <br><a class="btn btn-primary btn-lg" href="/app" role="button">Mark3D</a><br>
  <br><a class="btn btn-primary btn-lg" href="/wholesiteVR" role="button">VR Environment </a><br>
  <br><a class="btn btn-primary btn-lg" href="/blend" role="button">Viewer on Blend4Web</a><br>
  <br><a class="btn btn-primary btn-lg" href="/appVR" role="button">VR Mark3D </a><br>
  <br><a class="btn btn-primary btn-lg" href="/about" role="button">About the Project</a><br>
  </p>
</div>


{{#if errors}}
<ul style="color:blue" class="errors">
  {{#each errors}}
    {{this}}
  {{/each}}
</div>
{{/if}}
