<meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
<meta name="mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<a id="downloadAnchorElem" style="display:none"></a>
<input id="obj-path" style="display:none" type="file" />
<input id="JSON-path" style="display:none" type="file" />
<input id="mtl-path" style="display:none" type="file" />


<div id='stats-div'></div>
<div id='controls-div-div'>
  <div id='controls-div'></div>
</div>
<div id='controls-div-div2'>
  <div id='controls-div2'></div>
</div>
<div id="ui">

  <div id="vr-button"></div>
  <a id="magic-window" href="#">CICK TO ENTER FIRST PERSON VIEW WITHOUT HEADSET</a>
  <h1><p id='loading'>Loading Scene ..... </p></h1>



</div>


<!--
<p>Press WASD for First Person Movement Controls. R for Upward Motion, F for downward motion </p>
<p>Q for sharp turn to the left, E for sharp turn to the right </p>
<p> Tested with Google Cardboard, using a Chrome Browser </p>
<div class="content container-fluid">
    <div class="row">
      <div id='viewer-div' class="col-xs-8">
        <div id="WebGL-output">
        </div>
      </div>
      <div id='controls-div' class="col-xs-4">


      </div>
      <div id="Stats-output">

        </div>
      </div>
    </div>
</div>
-->


<script type="text/javascript" src="libs/three.js"> </script>


<script>
/*
 * Debug parameters.
 */
WebVRConfig = {
  /**
   * webvr-polyfill configuration
   */

  // Forces availability of VR mode.
  //FORCE_ENABLE_VR: true, // Default: false.
  // Complementary filter coefficient. 0 for accelerometer, 1 for gyro.
  //K_FILTER: 0.98, // Default: 0.98.
  // How far into the future to predict during fast motion.
  //PREDICTION_TIME_S: 0.040, // Default: 0.040 (in seconds).
  // Flag to disable touch panner. In case you have your own touch controls
  //TOUCH_PANNER_DISABLED: true, // Default: false.
  // Enable yaw panning only, disabling roll and pitch. This can be useful for
  // panoramas with nothing interesting above or below.
  //YAW_ONLY: true, // Default: false.
  // Enable the deprecated version of the API (navigator.getVRDevices).
  //ENABLE_DEPRECATED_API: true, // Default: false.
  // Scales the recommended buffer size reported by WebVR, which can improve
  // performance. Making this very small can lower the effective resolution of
  // your scene.
  BUFFER_SCALE: 0.5, // default: 1.0
  // Allow VRDisplay.submitFrame to change gl bindings, which is more
  // efficient if the application code will re-bind it's resources on the
  // next frame anyway.
  // Dirty bindings include: gl.FRAMEBUFFER_BINDING, gl.CURRENT_PROGRAM,
  // gl.ARRAY_BUFFER_BINDING, gl.ELEMENT_ARRAY_BUFFER_BINDING,
  // and gl.TEXTURE_BINDING_2D for texture unit 0
  // Warning: enabling this might lead to rendering issues.
  //DIRTY_SUBMIT_FRAME_BINDINGS: true // default: false
};
</script>

<!--
  A polyfill for Promises. Needed for IE and Edge.
-->
<script src="node_modules/es6-promise/dist/es6-promise.min.js"></script>

<!--
  three.js 3d library

<script src="node_modules/three/build/three.min.js"></script>
-->

<!--
  VRControls.js acquires positional information from connected VR devices and applies the transformations to a three.js camera object.
-->
<!-- script src="node_modules/three/examples/js/controls/VRControls.js"></script-->
<script src="libs/VRControls.js"></script>
<script src="libs/FirstPersonVRControls.js"></script>

<!--
  VREffect.js handles stereo camera setup and rendering.
-->
<script src="node_modules/three/examples/js/effects/VREffect.js"></script>

<!--
  A polyfill for WebVR using the Device{Motion,Orientation}Event API.
-->
<script src="node_modules/webvr-polyfill/build/webvr-polyfill.min.js"></script>

<!--
  A set of UI controls for entering VR mode.
-->
<!-- script src="node_modules/webvr-ui/build/webvr-ui.min.js"></script-->
<script src="node_modules/webvr-ui/build/webvr-ui.js"></script>
<link type="text/css" rel="stylesheet" href="css/styleVR.css">

<script type="text/javascript" src="libs/jquery-ui.min.js"></script>
<link type="text/css" rel="stylesheet" href="css/jquery-ui.min.css">
<script type="text/javascript" src="libs/stats.min.js"></script>
<script type="text/javascript" src="libs/dat.gui.min.js"></script>
<link type="text/css" rel="stylesheet" href="css/dat.guiAlt.css">
<script type="text/javascript" src="libs/json_parse_state.js"></script>
<script type="text/javascript" src="libs/json_parse.js"></script>
<script type="text/javascript" src="libs/cycle.js"></script>
<script type="text/javascript" src="libs/DecalGeometry.js"></script>
<script type="text/javascript" src="libs/SkyShader.js"></script>
<script type="text/javascript" src="libs/reticulum.js"></script>
<script type="text/javascript" src="libs/Detector.js"></script>
<script type="text/javascript" src="libs/OrbitControls.js"></script>
<script type="text/javascript" src="libs/DragControls.js"></script>
<script type="text/javascript" src="libs/TransformControls.js"></script>
<script type="text/javascript" src="libs/OBJLoader.js"></script>
<script type="text/javascript" src="libs/ColladaLoader.js"></script>
<script type="text/javascript" src="libs/OBJExporter.js"></script>
<script type="text/javascript" src="libs/FileSaver.js"></script>
<script type="text/javascript" src="js/myFuns.js"></script>
<script type="text/javascript" src="js/wholesiteVR.js"></script>
