
.content {
  padding-top: 70px;
  //padding-bottom: 70px;


}
.navbar-collapse.collapse{
  display: block !important;
}

.navbar-nav>li, .navbar-nav{
  float: left !important;
}

.navbar-nav.navbar-right:last-child{
  margin-right: -15px !important;
}

.navbar-right{
  float: right !important;
}

.btn-lg {
  margin: auto;
  width: auto;
}

.buttonsdiv {
  padding-left: 3em;
  margin-right: auto;
  width: 50%
}

.jumbotron{
  margin: auto;
  width: 100%;
}
.nav.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}
