body {
  //overflow: hidden;
  background-color:#FFFFFF;
}

#Stats-output {

}

#container_id {
  height: 400px;
  width: 100%;
}

#viewer-div {

}


#controls-div{
  //position: absolute;
  //top: 50%;
  //left: 50%;
}

#gui{
  //transform:translate(-50%, -75px);
}



#WebGL-output {
  z-index: -1;
  //border-style: solid;
  //border-width: 5px;
  //border-color: black;
  border-style: inset;
  background-color:#a7b6ce;

}

.content {
  padding-top: 70px;
  //padding-bottom: 70px;


}
.navbar-collapse.collapse{
  display: block !important;
}

.navbar-nav>li, .navbar-nav{
  float: left !important;
}

.navbar-nav.navbar-right:last-child{
  margin-right: -15px !important;
}

.navbar-right{
  float: right !important;
}

#mtl-path {
  display: none;
}

#obj-path {
  display: none;
}

#JSON-path {
  display: none;
}

.btn-lg {
  margin: auto;
  width: 50%;
}

.buttonsdiv {
  padding-left: 3em;
  margin-right: auto;
  width: 50%
}

.jumbotron{
  margin: auto;
  width: 100%;
}
.nav.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}
