
body {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  margin: 0px;
  padding: 0;
  overflow: hidden;
}



#controls-div{
  top: 100%;
}

#gui{
  //transform:translate(-50%, -75px);
}

.content {
  padding-top: 70px;
  //padding-bottom: 70px;
}

.navbar-collapse.collapse{
  display: block !important;
}

.navbar-nav>li, .navbar-nav{
  float: left !important;
}

.navbar-nav.navbar-right:last-child{
  margin-right: -15px !important;
}

.navbar-right{
  float: right !important;
}

#mtl-path {
  display: none;
}

#obj-path {
  display: none;
}

#JSON-path {
  display: none;
}

.btn-lg {
  margin: auto;
  width: 50%;
}

.buttonsdiv {
  padding-left: 3em;
  margin-right: auto;
  width: 50%
}

.jumbotron{
  margin: auto;
  width: 100%;
}

.nav.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}


/* Position the button on the bottom of the page.*/
#ui {
  position: absolute;
  bottom: 10px;
  right: 0%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Karla', sans-serif;
  z-index: 1;
}

a#magic-window {
  display: block;
  color: white;
  margin-top: 1em;
}

.instr {
  display: block;
  color: white;
  margin-top: 1em;
}

#controls-div-div {
  float: right;
  position: absolute;
  top: 14em;
  right: -7em;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Karla', sans-serif;
  z-index: 1;

}
#controls-div-div2{
  float: right;
  position: absolute;
  top: 14em;
  right: -7em;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Karla', sans-serif;
  z-index: 1;

}
